<!DOCTYPE html>
<html>
<body>
<h1>Esta es una pestaña de “mensaje.html”</h1>

<h1>Accesos a pestañas</h1>

<ul>
    <li><a href="{{ url_for('index') }}">Ir a index</a></li>
    <li><a href="{{ url_for('base') }}">Ir a base</a></li>
    <li><a href="{{ url_for('info') }}">Ir a info</a></li>
    <li><a href="{{ url_for('mensaje') }}">Ir a mensaje</a></li>
    <li><a href="{{ url_for('web1') }}">Ir a web 1</a></li>
    <li><a href="{{ url_for('web2') }}">Ir a web 2</a></li>
</ul>

</body>
</html>

